@charset "utf-8";
* {
    margin: 0;
    padding: 0;
}

body,html {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;    
}
#mouse {
    position: absolute;
    top: 200px;
    left: 200px;
    width: 70px;
    height: 70px;

}
#mouse:after {
    content: "";
    width: 50px;
    height: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 3px solid rgb(206, 206, 206);
    opacity: 0;

    position: absolute;
    border-radius: 30px;
    color: rgb(43, 42, 42);
    border-radius: 50px;
    transition: 0.2s;
    animation-name: scale;
    animation-delay: 1s;
    animation-duration: 3s; 
    animation-iteration-count:infinite;
}
#mouse:before {
    content: "";
    width: 55px;
    height: 55px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 1px solid rgb(126, 126, 126);


    position: absolute;
    border-radius: 30px;

}
.fab {
    position: relative;
    top: 50%;
    left: 50%;
    font-size: 2rem;
    transform: translate(-50%,-50%);
    color: rgb(255,255,255);
}
@keyframes scale {
    5%{
        width: 50px;
        height: 50px;
        opacity: 0;
    }
    15% {
        width: 60px;
        height: 60px;
        opacity: 0.8;
    }

    20%{
        width: 70px;
        height: 70px;
        opacity: 0;
    }
    30%{

        opacity: 0;
    }
    40% {

    }
    100% {

    }
}