@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

body {
    color: rgb(44, 43, 43);
    /* -ms-overflow-style: none;
    scrollbar-width: none;  */
    position: relative;

}
/* body::-webkit-scrollbar {
    display:none;
} */
.wrapper {
    position: relative;
    overflow: hidden;
}
li{
    list-style: none;
}
img {
    vertical-align: bottom;
}
#imgBox {
    height: 100vh;
}
#imgList {
	position: relative;
	width: 100%;
    max-width: 100vw;
    height: 100%;
	margin: 0 auto;
    overflow: hidden;
}

#imgList li{
	display: none;
	position: absolute;
	top: 0;
	left: 0;
    width: 100%;
    height: 100%;
}
#imgList li img {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(0,-50%) scale(1.5);

}
#control {
    position: relative;
    /* margin-left: 0; */
    bottom: 60px;
    height: 5px;
    width: 90%;
    z-index: 3;
    /* margin-right: 0; */
    display: flex;
    /* padding: 0 50px; */
    margin: 0 auto;
}
#control li {
    width: calc(100%/5);
    height: 20px;
    position: relative;
    /* border-bottom: 1px solid rgb(230, 230, 230); */
    /* padding-top: 10px;  */
    cursor: pointer;   
}
/* #control li a {
    text-decoration: none;
    display: block;

} */

.navslide {
    width: 100% !important;
    transition: 6.2s linear;
}
.itemslide {
    left: -50% !important;
    transition: 15s linear;
}
#control li:not(:last-child) {
    margin-right: 10px;
}
#control li .nav__slide {
    border-bottom: 1px solid rgb(44, 43, 43);
    /* padding-bottom: 13px; */
    position: relative;
    bottom: -3px;
    width: 0;
    z-index: 10;

}

#control li span {
    font-size: 0.6em;
    position: relative;
    /* left: 5px; */
    bottom: 22px;
    color: rgb(44, 43, 43);
    border-bottom: 1px solid rgb(255,255,255);
    width: 100%;
    display:inline-block;
    text-indent: 4px;
    line-height: 2;
}

@media screen and (max-width : 1000px) {

#imgBox li img {
    height: 120%;
    width: auto;
}
}

@media screen and (max-width : 600px) {
#control {
    bottom: 170px;
}
}